<div class="page-header">
  <h1>{{t "buildings.noResultsTitle"}}</h1>
</div>

{{> search-form}}

{{#if error}}
  <div class="error-message" role="alert">
    {{error}}
  </div>
{{/if}}

{{#if buildings.length}}
  <div class="building-grid" aria-label="Building results">
    {{#each buildings}}
      {{> building-card building=this isWatched=(isWatched this._id ../watchlistIds)}}
    {{/each}}
  </div>
  {{> pagination}}
{{else}}
  {{#unless error}}
    {{> empty-state title=(t "buildings.noResultsTitle") message=(t "buildings.noResultsMessage") actionHref="/buildings" actionLabel=(t "buildings.clearSearch")}}
  {{/unless}}
{{/if}}